<configuration scan="true">

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
    </encoder>
  </appender>


  <logger name="com.worldline.formation" level="debug" additivity="false">
    <appender-ref ref="console" />
  </logger>
  <root level="info">
    <appender-ref ref="console"/>
  </root>

</configuration>